<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Add New
    </ion-title>
  </ion-toolbar>
  <ion-buttons slot="end">
    <ion-icon name="add-circle-outline"></ion-icon>
  </ion-buttons>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add New</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="stacked">Name</ion-label>
    <ion-input id="name" [(ngModel)]="contact.name" placeholder="John Doe"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Phone Number</ion-label>
    <ion-input id="phone" [(ngModel)]="contact.phone" placeholder="+234 813 000 0000"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Home Address</ion-label>
    <ion-input id="address" [(ngModel)]="contact.address" placeholder="224 Malcom Way"></ion-input>
  </ion-item>

  <ion-button (click)="addContact($event)">Add Contact</ion-button>

</ion-content>
