<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="./avatar-rey.png">
      </ion-avatar>
      <ion-label>
        <h2>Rey</h2>
        <h3>I can handle myself</h3>
        <p>You will remove these restraints and leave...</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
